<footer class="footer">
  <div class="container-fluid remove-mp">
    <div class="row">
      <div class="col-6 links">
        <a href="#">Contact Us</a>
        <a href="#"> FAQs </a>
        <a href="#"> Terms of Use </a>
        <a href="#"> Privacy </a>
      </div>
      <div class="col-6 logos">
        <a href="#"> <i class="custom fa fa-instagram"></i> </a>
        <a href="#"><i class="custom fa fa-facebook"></i></a>
        <img style="max-width: 290px;" src="../assets/images/stores.png" />
      </div>
    </div>
    <p class="copyright">Diagnal © 2019 </p>
  </div>
</footer>
