<div class="col-xs-12">
  <div class="container-fluid">
    <div class="row centered">
      <div class="col-xs-12 col-md-6 order-text">
        <div class="diag-h4">
          <p>Available on every device and platform</p>
        </div>
        <div class="diag-h2" style="text-align: left;">
          <p>Watch Everywhere.</p>
        </div>
        <div class="diag-sub-body-text">
          <p>
            Stream unlimited movies and TV shows on your phone, tablet, laptop,
            and TV without paying more.
          </p>
        </div>
        <div class="diag-img-text-4">
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><i class="fa fa-check"></i>Watch on Game Consoles</li>
            <li class="list-group-item"><i class="fa fa-check"></i>Available as a TV app</li>
            <li class="list-group-item"><i class="fa fa-check"></i>Watch on Web</li>
            <li class="list-group-item"><i class="fa fa-check"></i>Download our App for Mobile and Tablet</li>
            <li class="list-group-item"><i class="fa fa-check"></i>Unlimited Devices</li>
          </ul>
        </div>
      </div>
      <div class="col-xs-12 col-md-6 order-image">
        <div class="row mb-5">
          <div class="">
            <img
              class="img-responsive"
              src="../../../../assets/images/Devices-DIAGNAL1.png"
            />
          </div>
        </div>
        <div class="row mb-5">
          <div class="">
            <img
              class="img-responsive"
              src="../../../../assets/images/Devices-DIAGNAL2.png"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
