<div class="row center-align body-dark remove-mp">
  <app-header></app-header>

  <main class="remove-mp">
    <section class="diag-section section-1">
      <app-dbrd-section-one></app-dbrd-section-one>
    </section>

    <section class="diag-section section-2">
      <app-dbrd-section-two></app-dbrd-section-two>
    </section>

    <section class="diag-section section-3">
      <app-dbrd-section-three></app-dbrd-section-three>
    </section>

    <section class="diag-section section-4">
      <app-dbrd-section-four></app-dbrd-section-four>
    </section>

    <section class="diag-section section-5">
      <app-dbrd-section-five></app-dbrd-section-five>
    </section>

    <section class="diag-section section-6">
      <app-dbrd-section-six></app-dbrd-section-six>
    </section>
  </main>

  <app-footer></app-footer>
</div>
