<div class="col-xs-12 image-bg">
  <div class="text-box">
    <div class="diag-h3">
      <p>Watch everywhere and anywhere.</p>
    </div>
    <div class="diag-h1">
      <p>Unlimited movies, TV shows, and more.</p>
    </div>
    <div class="diag-body-text">
      <p>
        Best video quality at 4k with HDR. Enjoy simultaneously on 4 screens.
        Watch on your TV, computer, phone and tablet. Cancel anytime. Includes
        free trial for first 14 days
      </p>
    </div>
    <div class="mb-3">
      <button class="diag-btn btn btn-primary my-2 my-sm-0">get started</button>
    </div>
    <div class="diag-small-body-text lh-17">
      <p>Ready to watch? Click get started to view our plans</p>
    </div>
  </div>
</div>