<div class="col-xs-12">
  <div class="jumbotron pt-5 pb-5 items-centered">
    <p class="text-center diag-h2">Frequently Asked Questions.</p>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4 mb-5">
        <p class="diag-h3-yellow">What is DIAGNAL ENLIGHT?</p>
        <p class="diag-sub-body-text">
          {{text}}
        </p>
      </div>
      <div class="col-md-4 mb-5">
        <p class="diag-h3-yellow">How much does it cost?</p>
        <p class="diag-sub-body-text">
          {{text}}
        </p>
      </div>
      <div class="col-md-4 mb-5">
        <p class="diag-h3-yellow">Where can I watch it?</p>
        <p class="diag-sub-body-text">
          {{text}}
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 mb-5">
        <p class="diag-h3-yellow">How do I cancel?</p>
        <p class="diag-sub-body-text">
          {{text}}
        </p>
      </div>
      <div class="col-md-4 mb-5">
        <p class="diag-h3-yellow">What can I watch?</p>
        <p class="diag-sub-body-text">
          {{text}}
        </p>
      </div>
      <div class="col-md-4 mb-5">
        <p class="diag-h3-yellow">Is ENLIGHT good for kids?</p>
        <p class="diag-sub-body-text">
          {{text}}
        </p>
      </div>
    </div>
  </div>
  <div class="jumbotron p-3 items-centered">
    <p class="text-center diag-small-body-text">
      Ready to watch? Click get started to view our plans
    </p>
    <button class="diag-btn btn btn-primary my-2 my-sm-0">get started</button>
  </div>
</div>
