<div class="col-xs-12">
  <div class="container-fluid">
    <div class="row item-centered">
      <div class="col-md-4">
        <img class="img-responsive mb-2" src="../assets/images/Vector-2.png" />
        <p class="diag-h3 mb-6">Unbelievable detail at 4K</p>
        <p class="diag-small-body-text">
          Amet risus nullam eget felis eget. Faucibus scelerisque eleifend donec
          pretium vulputate sapien. Justo nec ultrices dui sapien eget mi proin
          sed libero.
        </p>
      </div>
      <div class="col-md-4">
        <img class="img-responsive mb-2" src="../assets/images/Vector.png" />
        <p class="diag-h3 mb-6">Watch with family & friends</p>
        <p class="diag-small-body-text">
          Laoreet id donec ultrices tincidunt arcu non sodales neque sodales.
          Arcu dui vivamus arcu felis. Est velit egestas dui id ornare arcu
          odio.
        </p>
      </div>
      <div class="col-md-4">
        <img class="img-responsive mb-2" src="../assets/images/Vector-1.png" />
        <p class="diag-h3 mb-6">Intelligently personalized</p>
        <p class="diag-small-body-text">
          Metus vulputate eu scelerisque felis imperdiet proin fermentum leo.
          Libero id faucibus nisl tincidunt. Dui faucibus in ornare quam.
        </p>
      </div>
    </div>
  </div>
</div>
